@import "../node_modules/bootstrap/scss/bootstrap.scss";

img {
    width: 100%;
    height: auto;
}

#header {
    height: 130px;

}

.header-logo {
    max-width: 120px;
}

#header h1 {
    text-align: center;
}

.navbar a {
    color: var(--bs-gray-300);
    text-decoration: none;
    transition: all 0.3s;
    display: inline-block;
}

a:hover {
    background-color: var(--bs-gray-800);
}


.cards {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1 1 clamp(300px, 30%, 400px);
}

#directo {
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}

#green {
    background-image: url("./img/green.png");
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}

.lista {
    width: 350px;
    background-color: var(--bs-success-bg-subtle);
    text-align: justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#lista-uno {
    width: 1000px;
    gap: 10px;
}

.lista:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

footer {
    height: 100px;
}

#carouselExample {
    height: 450px;
    max-width: 900px;
 
    overflow: hidden;

}

#carouselExample img {
    height: 450px;
  
    

}

@media (max-width: 768px) {
    #menu {
        height: auto;

    }

    article #lista-uno {
        justify-content: center;


    }

}